*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BMI_Calculator{
  display: flex;
  width: 800px;
  height: 500px;
  gap: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.box{
  width: 380px;
  background: url('assets/BMI.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.data{
  margin-top: 35px;
}
h1{
  font-size: 25px;
  font-weight: 600;
  color: rgb(58, 147, 183);
}
.input-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-container label{
  color: #888;
  font-size: 16px;
}
.input-container input{
  width: 350px;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  border: none;
  border: 1px solid #888;
  border-radius: 10px;
}
.input-container input:active,
.input-container input:hover{
  border: 1px solid rgb(77, 185, 228);
}
button{
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid skyblue;
  background-color:  rgb(16, 92, 122);
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}
button:hover{
  background-color: rgb(58, 147, 183);
}
button:nth-of-type(2){
  background-color: rgb(234, 8, 8);
  border: 1px red solid;
  margin-left: 15px;
  margin-top: 10px;
  transition: background-color 0.3s;
}
button:nth-of-type(2):hover{
    background-color: red;

}
.result{
  margin-top: 40px;
  border: 1px rgb(46, 160, 205) solid;
  padding: 12px;
}
p{
  font-size: 17px;
  margin-top: 5px;
}
p:first-child{
  color: rgb(43, 128, 162);
}
.error-message{
  color: red;
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
}
